.home {
  text-align: center;
  margin: 0 20%;

  .btn {
    color: #fff;
    background-color: #6002ee;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .questions-container {
    display: grid;

    .unanswered-questions {
      grid-column: 1;
      cursor: pointer;
    }

    .answered-questions {
      grid-column: 2;
      cursor: pointer;
    }
  }
}
